
<div class="mx-5 sm:mx-10 md:mx-28 xl:mx-32 my-7 sm:my-12 md:my-20">

    <div class="my-14 columns-2">
        <div class="flex justify-start">
            <button 
            (click)="backHome()"
            class="place-self-start inline-block rounded bg-green-400 px-4 py-2 text-xs font-medium text-white hover:bg-green-700">
                Volver
            </button>
        </div>
        <div class="flex justify-end">
            <button
            (click)="addProduct()"
            class="inline-block rounded bg-blue-500 px-4 py-2 text-xs font-medium text-white hover:bg-blue-700">
                Agregar +
            </button>
        </div>

    </div>

    <div class="flex justify-center font-bold my-10">
        <h1 class="text-3xl">Inventario</h1>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead class="ltr:text-left rtl:text-right">
            <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Producto</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Presentacion</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Marca</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Precio</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Existencias</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Vendidos</th>
              <th class="px-4 py-2">Acciones</th>
            </tr>
          </thead>
      
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
              <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
              <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
              <td class="whitespace-nowrap px-4 text-center py-2">
                <a
                onclick="return false"
                (click)="toEdit()"
                  href="#"
                  class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                >
                  Editar
                </a>
                <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                    Eliminar
                </button>
              </td>
            </tr>
      
            <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Detalle
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">123456</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">John Doe</td>
                <td class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900">Channel</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">24/05/1995</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">Web Developer</td>
                <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">$120,000</td>
                <td class="whitespace-nowrap px-4 text-center py-2">
                  <a
                    href="#"
                    class="inline-block rounded bg-indigo-600 px-4 py-2  mx-4 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Editar
                  </a>
                  <button class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700">
                      Eliminar
                  </button>
                </td>
              </tr>

          </tbody>
        </table>
    </div>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-2">
        <div class="col-start-1 md:col-start-2 font-extrabold grid grid-cols-2">
          <div class="text-2xl flex justify-center">Total Valor de Inventario</div>
          <div class="text-2xl flex justify-center"> $ 12345</div>
        </div>
      </div>
</div>