<div class="mx-5 sm:mx-10 md:mx-28 xl:mx-32 my-7 sm:my-12 md:my-20">
  <div class="my-14 columns-2">
    <div class="flex justify-start">
      <button
      (click)="toHome()"
        class="place-self-start inline-block rounded bg-green-400 px-4 py-2 text-xs font-medium text-white hover:bg-green-700"
      >
        Volver
      </button>
    </div>
    <!-- <div class="flex justify-end">
            <button class="inline-block rounded bg-blue-500 px-4 py-2 text-xs font-medium text-white hover:bg-blue-700">
                Agregar +
            </button>
        </div> -->
  </div>

  
  <ng-container *ngIf="carts.length>0">
    <div class="flex justify-center font-bold my-10">
      <h1 class="text-3xl">Carrito de Compras</h1>
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
        <thead class="ltr:text-left rtl:text-right">
          <tr>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Producto
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Presentacion
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Marca
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Precio
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Cantidad
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Subtotal
            </th>
            <th class="px-4 py-2"></th>
          </tr>
        </thead>
  
        <tbody class="divide-y divide-gray-200">
          
          <ng-container *ngFor="let cart of carts">
            <tr>
              <td
                class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900"
              >
                {{cart.name}}
              </td>
              <td
                class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900"
              >
                {{cart.size}}
              </td>
              <td
                class="whitespace-nowrap px-4 text-center py-2 font-medium text-gray-900"
              >
                {{cart.brand}}
              </td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">
                {{cart.price}}
              </td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">
                {{cart.unids}}
              </td>
              <td class="whitespace-nowrap px-4 text-center py-2 text-gray-700">
                {{cart.subtotal}}
              </td>
              <td class="whitespace-nowrap px-4 text-center py-2">
                <button
                (click)="deleteCart(cart)"
                  class="inline-block rounded bg-red-500 px-4 py-2 text-xs font-medium text-white hover:bg-red-700"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </ng-container>
          
        </tbody>
      </table>
    </div>
  
    <div class="mt-10 grid grid-cols-1 md:grid-cols-2">
      <div class="col-start-1 md:col-start-2 font-extrabold grid grid-cols-2">
        <div class="text-2xl flex justify-center">Total</div>
        <div class="text-2xl flex justify-center">$ {{value}}</div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="carts.length == 0">
    <div class="flex justify-center font-bold my-10">
      <h1 class="text-3xl">Carrito Vacio</h1>
    </div>    
  </ng-container>

  
</div>
